.searchbox {
  text-align: center !important;
  margin-top: 30px;
  width: 100%; /* Set width to 100% */
}

.main-heading {
  font-size: 34px !important;
  font-weight: bold !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  color: #007bff !important;
  margin-top: 0px !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1) !important; /* Increased shadow size */
  letter-spacing: 1px !important; /* Increased letter spacing */
  text-transform: uppercase !important;
  text-decoration: underline;
}

.form-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 5px !important;
}

.city-input {
  margin-right: 10px !important;
  padding: 8px !important;
  width: calc(100% - 110px) !important; /* Adjusted width */
  max-width: 400px; /* Added max-width */
  background-color: #f2f2f2 !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  font-size: 14px !important;
}

.city-input-inner {
  font-size: 14px !important;
}

.search-button {
  margin-top: 10px;
  margin-left: 10px !important;
  padding: 8px 16px !important;
  background-color: #007bff !important;
  color: white !important;
  font-size: 16px;
  border-radius: 5px;
  border: none !important;
}

.error-message {
  color: red;
  margin-top: 10px;
  padding: 6px !important;
  font-size: 14px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .searchbox {
    width: 80%; /* Adjust width for smaller screens */
  }

  .form-container {
    flex-direction: column; /* Change to column layout on smaller screens */
  }

  .city-input {
    width: 100%; /* Make input full width on smaller screens */
    margin-right: 0; /* Remove right margin */
    margin-bottom: 10px; /* Add bottom margin for spacing */
  }
}
